body {
  background-color: #222222;
  width: 360px;
  box-sizing: border-box;
  padding: 20px;
  margin: auto;
}
p {
  text-align: right;
  color: rgb(87, 221, 87);
  font-size: 32px;
  width: 290px;
  height: 75px;
  margin: auto;
  line-height: 75px;
}
main {
  display: grid;
  width: 100%;
  /* grid-template: repeat(5, 1fr), repeat(5, 1fr); */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
#oneKey {
grid-column: 1 / 2;
grid-row: 5 / 6;
}
#dotKey {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}
#twoKey {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}
#threeKey {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}
#fourKey {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}
#fiveKey {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}